@model IEnumerable<StaffManagementSystem.Models.RolesTb>

@{
    ViewBag.Title = "Role";
}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <h2>Role</h2>

        <p>
            <button class="btn btn-small" style="background-color:green; color:white;">@Html.ActionLink("Create New", "Create")</button>
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RoleTbName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoleTbDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedOn)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleTbName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleTbDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedOn)
                    </td>
                    <td>
                        <button class="btn btn-small" style="background-color:green; color:white;">@Html.ActionLink("Edit", "Edit", new { id = item.RolesTbId })</button>
                        <button class="btn btn-small" style="background-color:green; color:white;">@Html.ActionLink("Delete", "Delete", new { id = item.RolesTbId })</button>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

